aiohttp==3.10.11
aiosignal==1.3.1
alabaster==0.7.13
argcomplete==3.2.1
attrs==23.1.0
Babel==2.13.1
black==24.3.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.0
distlib==0.3.8
docutils==0.20.1
filelock==3.13.1
flake8==6.1.0
frozenlist==1.4.0
idna==3.7
imagesize==1.4.1
Jinja2==3.1.5
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
mypy-extensions==1.0.0
nox==2023.4.22
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
Pygments==2.17.2
requests==2.32.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
urllib3==2.2.2
virtualenv==20.26.6
yarl==1.9.4
